.bs-example{
    margin: 20px;
}
#menuButtons{
    font-weight: bold;
    font-size: larger;
}
.nav{
    margin-bottom: 30px;
}

#cart{
    max-width: 60px;
}

#search{
    max-width: 30px;
}
#search-bar{
    width: 500px;
   
}
#logo{
    max-width: 70px;
}
.item{
    max-width: 500px;
}
a{
    color: black;
}
#cartImg{
    width: 100%;
    
}
.footer {
    width: 100%;
}


