
.bs-example{
    margin: 20px;
}
body{
    padding-top: 70px;
}
#menuButtons{
    font-weight: bold;
    font-size: larger;
}
.nav{
    margin-bottom: 30px;
}
#cart{
    margin-right: 30px;
    max-width: 50px;
}
#search{
    max-width: 30px;
}
#search-bar{
    width: 500px;
   
}
#logo{
    max-width: 70px;
}
.item{
    max-width: 500px;
}
a{
    color: black;
}

