
/*---------*INDEX---------*/
body{
    background-image: url("../Background/bg.gif");
   
}
/*-------------------------*/


/*---------*CART---------*/
#cartImg{
    width: 100%;
    
}
.cartBorder{
    border: solid 3px red;
}
/*-------------------------*/


/*---------*FOOTER----------*/
.footerBorder{
    border-top: solid 2px red; 
}
.footerer,.push{
    height: 150px;
}
/*-------------------------*/


/*---------*LOGREG---------*/
.logRegBorder{
    border: solid 3px red;
}
/*-------------------------*/


/*---------*PRODUCTS---------*/
.productBorder{
    border:red 10px solid;
}
.productHTagBorder{
    border: solid 3px red;
}
/*-------------------------*/


/*---------*CAROSUEL---------*/
#carouselImg{
    max-height: 341px;
}
/*-------------------------*/


/*---------*ADMIN---------*/
.adminBorder{
    border: solid 3px red;
}
/*-------------------------*/

/*Összes tartalom*/
.wrapper {
    margin-top: 78px;
    min-height: 100%;
    margin-bottom: -150px;
}
/*-----------------------------------------*/


/*-----------------NEW NAVBAR---------------*/
#logo{
    max-width: 70px;
}
#cart{
    max-width: 60px;
    border: solid 1px red;
}

.navStyle{
    background-image: url("../Navbars/nav.gif");
 }
.mtToggler{
    display: flex;
    justify-content: center;
}
.mtTogglerButton{
    width: 100px;
    
}
ul>li{
    font-size: 25px;
    font-weight: bolder;
    width: 340px;
}
@media screen and (min-width:1200px){
 .wrapper{
     margin-top: 138px;
}
/*A navbar összes tartalma*/

.mtNav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99vw;
}
/*Logo*/
.mtLogo{
    flex-grow: 2;
}
/*Három oszlop (logo,gombok,kosár)*/
.mtMenu{
    flex-grow: 10;
    display: flex;
    justify-content: center;
}
/*Középső oszlop felső sora*/
.mtMenuButtons{
    display: flex;
    width: 70vw;
}
.mtCategories{
    display: flex;
    width: 100%;
    justify-content: center;
}
/*Középső oszlop alsó sora*/
.mtUser{
    display: flex;
    justify-content: center;
}
/*Kosár*/
.mtCart{
    display: flex;
    justify-content: flex-end;
    flex-grow: 2;
}
/*Menü elemek stílusa*/
ul>li{
    width: 340px;
    font-weight: bolder;
}
}



