
/*---------*INDEX---------*/

                 

body{
    background-image: url("../Background/bg.png");
}

                  


/*-------------------------*/


/*---------*CART---------*/
#cart{
    max-width: 60px;
    border: solid 1px red;
}
#cartImg{
    width: 100%;
    
}
.cartBorder{
    border: solid 3px red;
}
/*-------------------------*/


/*---------*LOGO---------*/
#logo{
    max-width: 70px;
}
/*-------------------------*/


/*---------*NAVBAR---------*/
.navStyle{
   /* background-image: url("../Navbars/nav.jpg");*/
}
/*#menuButtons{
    font-weight: bold;
    font-size: larger;
    border: solid 1px red;
}*/
/*---------*FOOTER----------*/
.footerBorder{
    border-top: solid 2px red; 
}
/*-------------------------*/


/*---------*LOGREG---------*/
.logRegBorder{
    border: solid 3px red;
}
/*-------------------------*/


/*---------*PRODUCTS---------*/
.productBorder{
    border:red 10px solid;
}
.productHTagBorder{
    border: solid 3px red;
}
/*-------------------------*/


/*---------*CAROSUEL---------*/
#carouselImg{
    max-height: 341px;
}
/*-------------------------*/


/*---------*ADMIN---------*/
.adminBorder{
    border: solid 3px red;
}
/*-------------------------*/

.wrapper {
    margin-top: 56px;
    min-height: 100%;
    margin-bottom: -150px;
}

.footerer,.push{
    height: 150px;
}
.sajattoggler{
    display: flex;
    justify-content: flex-start;
}
@media screen and (min-width:1200px){
 .wrapper{
     margin-top: 120px;
}
.proba{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99vw;
    border: 1px solid cyan;
   

}

.sajatlogo{
    flex-grow: 1;
}
.sajatmenu{
    flex-grow: 12;
    display: flex;
    justify-content: center;
}
.sajatkosar{
    display: flex;
    justify-content: flex-end;
    flex-grow: 2;
}
.alsosor{
    display: flex;
    justify-content: center;
    border: 1px solid green;
}
.felsosor{
    display: flex;
    width: 100%;
    border: 1px solid pink;
    justify-content: center;
}
.kozepso{
    display: flex;
    width: 60vw;
}
ul>li{
    width: 150px;
    font-weight: bolder;
}
}



